<div class="row justify-content-center bg-blue-2">
    <div class="col p-5">
        <h1><b>BURGER</b>TOWN</h1>
    </div>
</div>

<div class="row justify-content-center bg-blue-1 p-5">
    <div class="col-4">
        <img class="glow" src="./assets/burger.svg" alt="A burger">
    </div>
</div>

<div class="row bg-blue-1 p-5">
    <div class="card col-md-12 col-lg-8 mx-auto p-2 bg-blue-3">
        <form class="create-burger">
            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-lg">BURGER WISH LIST:</span>
                </div>
                <input id="name" name="name" type="text" class="form-control" aria-label="Large"
                    aria-describedby="inputGroup-sizing-sm">
                <div class="input-group-append">
                    <button class="btn bg-blue-2" type="submit">ADD</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row bg-blue-3">
    <div class="col-md-12 col-lg-4 p-5">
        <div class="card">
            <h3 class="p-3">All the Burgers!</h3>
            <ul class="list-group">
                {{#each burgersOrderedByName}}
                {{> burgers/burger-item tried=false displayDevourButton=true}}
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="col-md-12 col-lg-4 p-5">
        <div class="card">
            <h3 class="p-3">Undiscovered Burgers!</h3>
            <ul class="list-group">
                {{#each burgersOrderedByName}}
                {{#unless devoured}}
                {{> burgers/burger-item tried=false displayDevourButton=false}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="col-md-12 col-lg-4 p-5">
        <div class="card">
            <h3 class="p-3">Burgers Devoured!</h3>
            <ul class="list-group">
                {{#each burgersOrderedByDevoured}}
                {{#if devoured}}
                {{> burgers/burger-item tried=true displayDevourButton=false}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>
<script src="/js/burger.js"></script>